<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OldGamesLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OldGamesLauncher.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ViewType" serializeAs="String">
                <value>LargeIcon</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DropLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DropVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmuConsoleVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="GamesfolderVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceDirectDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DontwarnDirectDraw" serializeAs="String">
                <value>False</value>
            </setting>
        </OldGamesLauncher.Properties.Settings>
    </userSettings>
</configuration>